*, *::before, *::after {
	box-sizing: inherit;
}


:root {
	--hue: 204;
	--saturation: 100%;
	--lightness: 30%;
	--color1: #03e9f4;
	--color2: #162789;
	--color3: #FC007A;
	--color4: #FFF;
	--color5: #554;
	--color6: #141E30;
	--color7: #243B55;
	--dark: #121113;
	--dark-blue: #00547A;
	--dark-blue1: #003852;
	--blueprint1: #FFFFFF80;
	--blueprint2: #FFFFFF47;
	--get-in: block;
}

body, html {
	height: 100dvh;
	width: auto;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(var(--color6), var(--color7));
}


main {
	isolation: isolate;
	background-image:
		linear-gradient(var(--blueprint1) .01px, transparent 1px),
		linear-gradient(90deg, var(--blueprint1) .01px, transparent 1px),
		linear-gradient(var(--blueprint2) .01px, transparent 1px),
		linear-gradient(90deg, var(--blueprint2) .01px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: center;
	background-attachment: fixed;
	background-color:
		color-mix(in srgb, var(--dark-blue), black 0%);
	border: solid .1rem var(--dark-blue1);
	box-shadow: inset 0 0 30rem var(--dark);
	filter: drop-shadow(0 0 .01rem var(--dark-blue1));
	& {
		margin: 0;
		padding: 0;
		color: white;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 99.8dvh;
		overflow: clip;
	}
}


input:-webkit-autofill {
	background-color: transparent;
	background-image: none;
	color:transparent;
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: #141e30;
	transition: background-color 5000s ease-in-out 0s;
}

input:invalid:not(:placeholder-shown) {
	border-color: var(--color3);
}

input:valid:not(:placeholder-shown) {
	border-color: var(--color4);
	& + a[type="submit"] {
		--get-in: block;
	}
}


dialog::backdrop {
	background: var(--color4);
	backdrop-filter: blur(4px) ;
}

:is(dialog) [open="true"] {
	display: grid;
	grid-area: 1 / 1;
}



::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: white;
	border-radius: 100vw;
	margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(270deg, var(--color3), var(--color1));
	border-radius: 100vw;
	border: .3rem solid white;
	margin-block: 0.5rem;
}

/* ╭──────────────────────────────────────────────────────────╮
   │       Starting to edit the elements of the login.        │
   ╰──────────────────────────────────────────────────────────╯
*/
@property --angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}

.user-box {
	position: relative;
}

.user-box input {
	width: 100%;
	padding: 1rem 0;
	font-size: 1rem;
	color: #fff;
	margin-bottom: 2rem;
	border: none;
	border-bottom: 0.1rem solid #fff;
	outline: none;
	background: transparent;
}

.user-box:not(:focus) label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.25rem 0;
	font-size: 1rem;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
	display: block;
	top: -0.5rem;
	left: 0;
	color: var(--color1);
	font-size: 0.75rem;
}

.login-box  {
	padding: 4rem;
	background: linear-gradient(var(--color6), var(--color7));
	box-sizing: border-box;
	box-shadow: 0 1.5rem 2.5rem #00000099;
	border-radius: 1rem;
	align-self: center;
	position: relative;
	&::before, &::after {
		content: "";
		inset: 0;
		background-color: var(--color3);
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		--angle: 0deg;
		background-image: conic-gradient(
			from var(--angle), var(--color3), var(--color1), var(--color3)
		);
		animation: autoRotate 3s linear infinite;
		justify-self: center;
		align-self: center;
		scale: 1.01;
		z-index: -1;
	}
	&::after {
		filter: blur(60px);
	}
	&  a {
		position: relative;
		text-align: center;
		display: var(--get-in);
		padding: 1.5rem .2rem;
		color: var(--color1);
		font-size: 1rem;
		text-decoration: none;
		text-transform: uppercase;
		overflow: hidden;
		transition: .5s;
		/*margin-top: 1rem;*/
		margin: 0 1rem;
		letter-spacing: 0.25rem;
		& span {
			position: absolute;
		}
	}
	& a:hover{
		background: var(--color1);
		color: #fff;
		border-radius: 0.25rem;
		box-shadow: 0 0 0.25rem var(--color1),
			0 0 0.25rem var(--color1),
			0 0 5rem var(--color1),
			0 0 8rem var(--color1),
	}
	& a span:nth-child(1) {
		top: 0;
		left: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, transparent, var(--color1));
		animation: btn-anim1 1s linear infinite;
	}
	& a span:nth-child(2) {
		top: -100%;
		right:0;
		width: 2px;
		height: 100%;
		background: linear-gradient(180deg, transparent, var(--color1));
		animation: btn-anim2 1s linear infinite;
		animation-delay: .25s;
	}
	& a span:nth-child(3) {
		bottom: 0;
		right: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg, transparent, var(--color1));
		animation: btn-anim3 1s linear infinite;
		animation-delay: .5s;
	}
	& a span:nth-child(4) {
		bottom: -100;
		left: 0%;
		width: 2px;
		height: 100%;
		background: linear-gradient(360deg, transparent, var(--color1));
		animation: btn-anim4 1s linear infinite;
		animation-delay: .75s;
	}
}

@keyframes btn-anim1 {
	0% {
		left: -100%;
	}
	50%,100% {
		left: 100%;
	}
}

@keyframes btn-anim2{
	0%{
		top: -100%;
	}
	50%,100% {
		top: 100%;
	}
}

@keyframes btn-anim3{
	0%{
		right: -100%;
	}
	50%,100% {
		right: 100%
	}
}

@keyframes btn-anim4{
	0%{
		bottom: -100%;
	}
	50%,100% {
		bottom: 100%
	}
}


@keyframes autoRotate {
	to {
		--angle: 360deg;
	}
}

/*           iPhone 6+, 7+ and 8+           */
@media only screen
	and ( min-width: 414px)
	and ( max-width: 736px) {
	.login-box, form > div {
		color: #fff;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.login-box {
		margin: 35% 0;
		box-sizing: border-box;
		box-shadow: 0 1.5rem 2.5rem #00000099;
		border-radius: 1rem;
		align-self: center;
	}
}


/*                  iPhone X                 */
@media only screen
	and (-webkit-min-device-pixel-ratio: 3)
	and ( min-width: 375px)
	and ( max-width: 812px) {
	.login-box, form > div {
		color: #fff;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.login-box {
		margin: 15% 0;
		box-sizing: border-box;
		box-shadow: 0 1.5rem 2.5rem #00000099;
		border-radius: 1rem;
		align-self: center;
	}
}


/*                  Galaxy S6                 */
@media only screen
	and (-webkit-min-device-pixel-ratio: 4)
	and ( min-width: 360px)
	and ( max-width: 640px) {
	.login-box, form > div {
		color: #fff;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.login-box {
		margin: 15% 0;
		box-sizing: border-box;
		box-shadow: 0 1.5rem 2.5rem #00000099;
		border-radius: 1rem;
		align-self: center;
	}
}
